.navigation {
  display: flex;
  justify-content: center;
}
.link {
  margin: 0 30px;
  font-size: 14px;
  line-height: 47px;
  transition: 0.5s;
  color: #ccc;
  &:hover {
    color: #333;
  }
}
.active {
  color: #333;
}
